Needless reference into 9165

The document references RFC9165 (cddl-control, as cddlplus), but I found none of the new controls used.

If really nothing of 9165 is used (maybe I missed something), I suggest that the reference be removed.

The IANA Considerations have a column "CDDL type".  This should be able to use all of CDDL.

Of course, RFC 9090 has registered control operators, and others will, so singling out RFC 9165 is maybe not needed.
I still find it useful as a reminder that CDDL is no longer just RFC 8610.

If we don't want to have that reminder, we can fix it in AUTH48.